<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>{{ page.title }}</title>
        <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if lt IE 8]>
            <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>

    <body id="index" class="blueprint">
        <div class="container">
            <div id="header">
                <img class="header-logo" alt="sassywood" src="/images/sassywood.png">
                <ul id="site-actions">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Aboot</a></li>
                </ul>
            </div>
            <div id="navigation">
                <h3>Related Content</h3>
                <ul>
                    <li><a href="#">Related Page #1</a></li>
                    <li><a href="#">Related Page #2</a></li>
                    <li><a href="#">Related Page #3</a></li>
                    <li><a href="#">Related Page #4</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="main-content">
                {{ content }}
                <h2>Using Compass is Easy!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div id="footer">
                <p id="legalese">Copyright &copy; 2010.</p>
                <div id="footer-links">
                    <h3>Site Links</h3>
                    <ul>
                        <li><a href="#">Important Site Area</a></li>
                        <li><a href="#">Related Page #2</a></li>
                        <li><a href="#">Related Page #3</a></li>
                        <li><a href="#">Related Page #4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>